.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal-content {
    border-radius: 20px;
    padding: 30px;
    width: 500px;
    background-color: white;
}

.modal-header,
.modal-footer,
.modal-body {
    padding: 10px;
}

.modal-header {
    color: rgba(89, 89, 89, 255);
    font-weight: 700;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.modal-body {
    font-weight: 700;
    color: rgba(89, 89, 89, 255);

    font-size: 13px;
    display: flex;
    flex-direction: column;
}

.modal-body input {
    margin-top: 10px;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 20px;
    outline: none;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
}

.modal-footer button {
    width: 150px;
    height: 35px;
    border-radius: 10px;
    margin: 0 20px 0 20px;
    border: none;
}

.modal-create-button {
    background-color: rgba(103, 64, 255, 255);
    color: white;
}