.modal {
    /* background-color: rgba(0, 0, 0, 0.5); */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.modal-content {
    margin-left: 55%;
    height: inherit;
    border-radius: 20px;
    padding: 30px;
    width: 1000px;
    margin-top: -70px;
    background-color: white;
}

.modal-header,
.modal-footer,
.modal-body {
    padding: 10px;

}

.modal-header {
    color: rgba(89, 89, 89, 255);
    font-weight: 700;
    font-size: 20px;
    padding: 70px 0 50px 0;
    font-weight: bold;
    margin-top: -35px;
}

.modal-body {
    height: 70vh;
    font-weight: 700;
    color: rgba(89, 89, 89, 255);
    font-size: 13px;
    display: flex;
    flex-direction: column;
}

.modal-body input {
    margin-top: 10px;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    padding-left: 5px;
}

.modal-footer {
    position: absolute;
    display: flex;
    justify-content: space-around;
    bottom: 0;
}

.modal-footer button {
    cursor: pointer;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    margin: 0 20px 0 20px;
    border: none;
    margin-bottom: 10px;
}

.modal-footer button:hover {
    background-color: rgba(103, 64, 255, 255);
    color: white;
}

@media screen and (max-width:800px)
{
    .modal {
        /* background-color: rgba(0, 0, 0, 0.5); */
        display: flex;
        /* justify-content: center; */
        /* align-items: center; */
        position: fixed;
        margin-left:25%
    }
    .modal-content {
        margin-left: 25%;
        height: 100%;
        border-radius: 20px;
        padding: 30px;
        width: 450px;
        margin-top: -400px;
        background-color: white;
    }

.modal-footer button {
    cursor: pointer;
    width: 120px;
    height: 35px;
    border-radius: 10px;
    margin: 0 20px 0 20px;
    border: none;
    margin-bottom: 10px;
}
}